In [4]:
def square(x):
    '''与えられた数値の2乗を返す'''
    return x ** 2

print(square(10))

100

In [6]:
i_num_list = range(1,11)
s_num_list = list(map(lambda i: "No." + str(i), i_num_list))
print("文字リスト:", s_num_list)

文字リスト: ['No.1', 'No.2', 'No.3', 'No.4', 'No.5', 'No.6', 'No.7', 'No.8', 'No.9', 'No.10']

In [8]:
# 数値を文字に変換して修飾します
for s in map(lambda i : "No." + str(i), range(1,11)):
    print(s, end=" ")

No.1 No.2 No.3 No.4 No.5 No.6 No.7 No.8 No.9 No.10

In [2]:
# 偶数だけ取得します
for e in filter(lambda i: i%2==0, range(1,11)):
    print(e, end=" ")

2 4 6 8 10

In [4]:
def is_even(x):
    '''偶数なら　True'''
    return x % 2 == 0
#　具数だけ取得します
for e in filter(is_even, range(1,11)):
    print(e, end=" ")

2 4 6 8 10

In [6]:
pairs = [(2, 'down'), (1, 'up'), (4, 'charm'), (3, 'strange'), (6, 'top '), (5, 'bottom')]
print(pairs)

[(2, 'down'), (1, 'up'), (4, 'charm'), (3, 'strange'), (6, 'top '), (5, 'bottom')]

In [8]:
pairs.sort()
print(pairs)

[(1, 'up'), (2, 'down'), (3, 'strange'), (4, 'charm'), (5, 'bottom'), (6, 'top ')]

In [10]:
pairs.sort(key=lambda x: x[1])
print(pairs)

[(5, 'bottom'), (4, 'charm'), (2, 'down'), (3, 'strange'), (6, 'top '), (1, 'up')]

In [12]:
pairs.sort(key=lambda x: x[1], reverse=True)
print(pairs)

[(1, 'up'), (6, 'top '), (3, 'strange'), (2, 'down'), (4, 'charm'), (5, 'bottom')]

In [15]:
n = 3
func = lambda n: "even" if (n % 2 == 0) else "odd"
func(n)

'odd'

In [17]:
n = 3
x = "even" if (n % 2 == 0) else "odd"
print(x)

odd

In [19]:
n = 3
if (n % 2 == 0):
    x = "even"
else:
    x = "odd"
print(x)

odd

In [23]:
"{:04}".format(5)

'0005'

In [25]:
str_num_list = (lambda x: "{:04}".format(x), range(1,8))
str_num_list

(<function __main__.<lambda>(x)>, range(1, 8))

In [27]:
print(list(str_num_list))

[<function <lambda> at 0x063F3970>, range(1, 8)]

In [29]:
print(["{:0=4}".format(x) for x in range(1, 8)])

['0001', '0002', '0003', '0004', '0005', '0006', '0007']

In [31]:
print(("{:0=4}".format(x) for x in range(1, 8)))

<generator object <genexpr> at 0x067A0C30>

In [33]:
print(list("{:0=4}".format(x) for x in range(1, 8)))

['0001', '0002', '0003', '0004', '0005', '0006', '0007']

In [68]:
import random
def generate_students_data(num_students=10):
    '''生徒名,身長,体重からなるデータをランダムに生成する

    引数：num_students: 生徒の人数を取る
    戻り：num_students: 個のタプル（生徒名,身長,体重）からなるリスト

    データの内容
        生徒名　'nXX', XX は 10 から 50 の番号
        身長　150-190 cm　からランダムに選んだ値
        体重　50-80 ㎏　からランダムに選んだ値
    '''
    students_data = []
    for i in range(num_students):
        name = 'n' + str(random.randint(10, 50))
        height = random.randint(150,190)
        weight = random.randint(50,80)
        students_data.append((name, height, weight))
        if i == 0: print('i, name, height, weight')
        if i < 2 or i == num_students - 1:
            print(i, name, height, weight)
        elif i == 2:
            print('...')
    return students_data

students_data = generate_students_data(10)

i, name, height, weight
0 n39 187 71
1 n30 170 50
...
9 n46 155 54

In [69]:
students_data

[('n39', 187, 71),
 ('n30', 170, 50),
 ('n47', 168, 80),
 ('n12', 188, 52),
 ('n12', 181, 66),
 ('n13', 172, 65),
 ('n49', 153, 72),
 ('n18', 162, 55),
 ('n21', 160, 74),
 ('n46', 155, 54)]

In [71]:
students_by_height = sorted(students_data, key=lambda s: s[1])
students_by_weight = sorted(students_data, key=lambda s: s[2])

In [73]:
print('\nSort by height')
for student in students_by_height:
    print(student)

Sort by height
('n49', 153, 72)
('n46', 155, 54)
('n21', 160, 74)
('n18', 162, 55)
('n47', 168, 80)
('n30', 170, 50)
('n13', 172, 65)
('n12', 181, 66)
('n39', 187, 71)
('n12', 188, 52)

In [75]:
print('\nSort by weight')
for student in students_by_weight:
    print(student)

Sort by weight
('n30', 170, 50)
('n12', 188, 52)
('n46', 155, 54)
('n18', 162, 55)
('n13', 172, 65)
('n12', 181, 66)
('n39', 187, 71)
('n49', 153, 72)
('n21', 160, 74)
('n47', 168, 80)