In [2]:
intdict = {'1': 'one', '2': 'two', '3': 'three'}
for key, val in intdict.items():
    print(key, val)

1 one
2 two
3 three

In [4]:
mountains = ['fuji', 'kitadake', 'okuhodakadake']
for i, mt in enumerate(mountains):
    print(i, mt)

0 fuji
1 kitadake
2 okuhodakadake

In [6]:
order = [1, 2, 3]
mountains = ['fuji', 'kiradake', 'okuhodakadake']
height = [3776, 3193, 3190]
for odr, mt, ht in zip(order, mountains, height):
    print(odr, mt, ht)

1 fuji 3776
2 kiradake 3193
3 okuhodakadake 3190

In [8]:
mountains = ['kitadake', 'okuhodakadake', 'fuji']
for mt in sorted(mountains):
    print(mt)

fuji
kitadake
okuhodakadake

In [10]:
mountains = ['fuji', 'kitadake', 'okuhodakadake']
for mt in reversed(mountains):
    print(mt)

okuhodakadake
kitadake
fuji

In [13]:
mountain_in_japan = {'fuji': 3776, 'kitadake': 3197, 'okuhodakadake': 3190}
mountain_in_japan_sorted = sorted(mountain_in_japan.items(), key=lambda x: x[0])
for key, val in mountain_in_japan_sorted:
    print(key, val)

fuji 3776
kitadake 3197
okuhodakadake 3190

In [15]:
mountain_in_japan = {'fuji': 3776, 'kitadake': 3197, 'okuhodakadake': 3190}
mountain_in_japan_sorted = sorted(mountain_in_japan.items(), key=lambda x: x[1])
for key, val in mountain_in_japan_sorted:
    print(key, val)

okuhodakadake 3190
kitadake 3197
fuji 3776

In [17]:
for key, val in reversed(mountain_in_japan_sorted):
    print(key, val)

fuji 3776
kitadake 3197
okuhodakadake 3190

In [18]:
mountain_in_japan = {'fuji': 3776, 'kitadake': 3193, 'okuhodakadake': 3190, 'dummy': 0}

In [20]:
mountain_in_japan = {'fuji': 3776, 'kitadake': 3193, 'okuhodakadake': 3190, 'dummy': 0}
mountain_in_japan_sorted = sorted(mountain_in_japan.items(),key=lambda x: x[1], reverse=True)
print(mountain_in_japan_sorted)

[('fuji', 3776), ('kitadake', 3193), ('okuhodakadake', 3190), ('dummy', 0)]

In [22]:
[1, 2, 3] == [1, 2, 3]

True

In [24]:
(0, 1, 2) == (0, 1, 2)

True

In [27]:
'abc' < 'abd'

True

In [30]:
print(ord('c'))
print(ord('d'))

99
100

In [32]:
set([0, 1, 2]) == set([0, 1, 2, 2])

True

In [34]:
[0, 1, 2] == (0, 1, 2)

False

In [36]:
[0, 1, 2] < (0, 1, 2)

TypeError: '<' not supported between instances of 'list' and 'tuple'

In [38]:
[[1, 2, 3], [4, 5, 6]] < [[1, 2, 3], [4, 0, 10], [5]]

False

In [40]:
[1, 2] < [1, 2, -1]

True

In [42]:
3 < 4 == 4

True

In [44]:
3 < (4 == 4)

False

In [46]:
4 == 4 == 1

False

In [48]:
(4 == 4) == 1

True

In [50]:
x = 2
1 < x < 3

True

In [52]:
1 < x and x < 3

True

In [54]:
print(1 and 2 and 3)
print(bool(1 and 2 and 3))

3
True

In [56]:
print(1 or 2 or 3)
print(bool(1 or 2 or 3))

1
True

In [58]:
def is_number_of_positions_of_10(x):
    return 10 <= x < 20

is_number_of_positions_of_10(12)

True